.cercle, .cercle1 ,.cercle2 ,.cercle3 {


  border-radius:50%;
  width:160px;
  height:160px;
  border:2px solid #679403; 
  display: inline-block;
padding: 10px 10px 10px 10px;
}
section{
text-align: center;
  height: auto;
  width: 1000px;
}
h1{

  text-align: center;

}
button{

  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
text-align: center;
}
.carre, .carre1,.carre2,.carre3,.carre5{
  padding: 10px 10px 10px 10px;
  width:160px;
  height:160px;
  border:2px solid #679403; 
  display: inline-block;
}

.losange{


  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
   width:130px;
  height:130px;
  border:2px solid #679403; 
  display: inline-block;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); 
}
.active{
  background-color: #FF000077;
}